
  .swiper-slide img > .review-container{
    width: none;
  }
  .review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #333333;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(0.875rem - 5px) calc(1.5rem - 5px);
    position: relative;
    width: 80%;
    max-width: 450px;
  }
  
  .avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    top: -40px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -35px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333333;
    transition: all 0.3s ease-in-out;
    border-radius: 1000px;
    border: 4px solid white;
    transform: scale(0.2);
    color: #fff */
  }
  
  .avatar-pop {
    transition:all ease 0.5s;
    transform: scale(1);
  }
  
  .review-main-content{
    font-size: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    max-width: 350px;

  }

  .divider {
    width: 80%;
    border-top: 1px solid #282c34;
    padding-bottom: 1rem;
  }

  .stars-wrapper{
    display: flex;
  }

  .star{
    color:var(--primary);
  }