.main-section {
  color: #fff;
  padding: 40px 0 0;
  background-image: url("../../../../public/images/bgpic.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-position: center;
  background-color: #08090b;
}

.dark {
  color: var(--dark-color);
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.main-section-text-wrapper {
  max-width: 540px;
  padding-top: 25%;
  padding-bottom: 60px;
}

.main-section-heading {
  margin-bottom: 24px;
  font-size: 2.1em;
  line-height: 1.1;
  font-weight: 600;
}

.Typewriter__wrapper{
  font-size: 2.0em;
  font-weight: 700;
  color: var(--primary)
}

.Typewriter__cursor{
  font-size: 1.8em;
    color: var(--secondary);
}

.main-section-middle-heading {
  color: var(--primary);
}



.main-section-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: #959595;
}

.main-section-img-wrapper {
  max-width: 555px;
  max-height: 555px;
}

.img-wrap {
  display: flex;
  justify-content: center;
}
.main-section-img {
  max-width: 95%;
  max-height: 650px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .main-section {
    background-position: bottom;
    background-color: #08090b;
    background-size: 230%;
  }

  .main-section-heading {
    text-align: center;
    margin-top: 50px;
    font-size: 1.6em;
  }

  .Typewriter__wrapper{
    font-size: 2em;
  }

  .main-section-subtitle {
    text-align: center;
    margin-bottom: 80px;
    color: #d3d3d3;
  }

  .btn {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
