.main-section {
  color: #fff;
  padding: 40px 0 0;
  /* padding-top: 25%; */
  /* background-color: var(--dark-background); */
  /* background-image: linear-gradient(to bottom, #1f1d2b, #201e2c, #211f2d, #22202e, #23212f, #252331, #262432, #282634, #2b2937, #2e2c3a, #32303d, #353340);  margin-bottom: 40px; */
  /* background-image: linear-gradient(to bottom, #212221, #262726, #2a2d2b, #2f3230, #333836, #373d3b, #3b4340, #3f4846, #434e4c, #475453, #4c5b5a, #506161); */
  background-image: url("../../../../public/images/bgpic.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-position: center;
  background-color: #08090b;
}

.dark {
  color: var(--dark-color);
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.main-section-text-wrapper {
  max-width: 540px;
  padding-top: 25%;
  padding-bottom: 60px;
}

.main-section-heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
}

.main-section-middle-heading {
  color: var(--primary);
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.main-section-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: #959595;
}

.main-section-img-wrapper {
  max-width: 555px;
  max-height: 555px;
}

.img-wrap {
  display: flex;
  justify-content: center;
}
.main-section-img {
  max-width: 95%;
  max-height: 650px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .main-section {
    background-position: bottom;
    background-color: #08090b;
    background-size: 230%;
  }

  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .main-section-heading {
    text-align: center;
    margin-top: 50px;
    font-size: 1.8rem;
  }

  .main-section-subtitle {
    text-align: center;
    margin-bottom: 80px;
    color: #d3d3d3;
  }

  .btn {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
