.photo-gallery img {
  max-width: 400px;
  max-height: 300px;
}

.home__hero-section {
  color: #fff;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .home__hero-section {
    padding: 24px 0;
  }
}
