.home__hero-section {
  background-color: var(--secondary);
  color: #fff;
  padding: 40px 0;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  max-width: 100%;
}

.cards-col {
  display: flex;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 33%;
  flex-basis: 33%;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  max-width: 33%;
  flex-basis: 33%;
  padding: 0 1rem;
}

.dark {
  color: var(--dark-color)
}

@media screen and (max-width: 768px) {

  .cards-col {
    max-width: 100%;
    flex-basis: 100%;
    /* flex-direction: column; */
  }

  .cards-container {
    flex-direction: column;
  }

  .home__hero-section {
    padding: 24px 0;
  }

  .card-wrapper {
    padding: 0 0 2rem 0;
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
  }
}