

.chip{
  font-size: 12px;
  color: #000000;
  padding: 0 12px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-color: #ebedf0;
  /* background-color: var(--secondary); */
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all .3s linear;
  display: inline-block;
  font-weight: 600;
  height: 32px;
  line-height: 32px;

}

.chip:hover:not(.chip:active, .chip-active) {
  transition: none;
  background-color: #e0e0e0;
}

.chip:active {
  transition: all .3s linear;
  background-color: var(--primary);
  font-weight: 600;
  color:white;

}

.chip-active{
  background-color: var(--primary);
  color:white;
  font-weight: 600;

}

.md-chip {
  display: inline-block;
  background: #e0e0e0;
  /* border: 1px solid #e0e0e0; */
  color: #000000;
  padding: 0 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
    cursor: pointer;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.md-chip .md-chip-avatar {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 4px;
}

.md-chip-avatar {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  object-fit: cover;
}

.md-chip-active{
  background: #e0e0e0;
  border: none;
}

.md-chip-hover:hover {
  background: #ccc;
  transition: none;
}

.md-chip, .md-chip-icon ,.md-chip-icon-active {
  height: 32px;
  line-height: 32px;
}

.md-chip-icon {
  display: block;
  background: #e0e0e0;
  float: left;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.md-chip-icon:active {
  background: #009587;
}

.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;
}
.md-chip-remove:after { 
    color: #e0e0e0;
    content: 'x';
  }

.md-chip-remove:hover {
    background: #999;
  }
  .md-chip-remove:active {
    background: #777;
  }


.md-chips {
  padding: 12px 0;
}
  .md-chips .md-chip {
    margin: 0 5px 3px 0;
  } 


.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
