.swiper {
    width: 100%;
    padding: 40px;
    background-color: #eeee;
  }

  .MySwiper .swiper-pagination-bullet{
    background: pink;
  }

  .swiper-wrapper{
    align-items: center;
  }
  
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    color: var(--primary);
  }

  .swiper-pagination-bullet-active{
    color: var(--primary);
    background-color: var(--primary);
    background: var(--primary);


  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    /* width: 100%; */
  }